@import "../../styles/variables";

.btn {
  font-family: 'open sans';
}

.inventory-card {
  background-color: $color2 !important;
}

.inventory-card-header {
  background-color: $color4 !important;
}