@import "../../../styles/variables";

.title1, .title2 {
  font-family: 'bungee';
  color:$color8 !important;
  text-shadow: #cccccc 2px 1px 0 !important;
}

.btn-container {
  img {
    width: 50%;
  }
  text-align: center;
  font-family: 'open sans';
}

.logo-container {
  margin-top: 10%;
}