p, .test-class {
  font-family: 'sans open';
}

.roast {
  background-image: url('https://c1.staticflickr.com/6/5578/30752162452_ea30785cc3_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%; 
}