$color1: rgba(212, 224, 155, 1);
$color2: rgba(246, 244, 210, 1);
$color3: rgba(203, 223, 189, 1);
$color4: rgba(241, 156, 121, 1);
$color5: rgba(164, 74, 63, 1);
$color6: rgba(241, 156, 121, .3);
$color7: rgba(246, 244, 210, .3);
$color8: rgba(84, 29, 21, 1);
$color9: rgba(212, 224, 155, .5);
$headerBrown: rgba(84, 29, 21, .5);
