@import "../../styles/variables";

.card-text, .card-title  {
  font-family: 'open sans';
}

.bean-card {
  background-color: rgba(255,255,255, .9) !important;
}

.bean-card-header {
  background-color: darkolivegreen !important;
  color: white !important;
}