@import "../../styles/variables";

.card-text,  {
  font-family: 'open sans';
}

.bean-card {
  background-color: rgba(255,255,255, .7) !important;
}

.bean-card-header {
  background-color: $color6 !important;
}

.edit-btn {
  color: orange !important;
}

.delete-btn {
  color: red !important;
}

.add-btn {
  color: maroon !important;
}