.App {
  font-family: 'bungee';
}

body {
  background-image: url('https://c1.staticflickr.com/8/7034/6555122609_6fdcdb6a2a_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size:cover;
}