@import "/../../styles/variables";

.roast-card {
  background-color: rgba(255,255,255, 1) !important;
}

.roast-card-header {
  background-color: brown !important;
  color: white !important;
  h5 {
    font-family: 'bungee' !important;
  }
}

.see-btn {
  color: brown;
}