@import "../../../styles/variables";

.inventories {
  background:  linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                url('https://storage.googleapis.com/drhealthbenefits/2017/11/80d762d5-health-benefits-of-coffee-fruit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%; 
}

.inventory-add-btn {
  color: $color3 !important;
}

.inventory-search-btn {
  color: white !important;
}

.inventories {
  h1 {
    color: #bdb76b;
    text-shadow: #eeeeee 2px 1px 0;
  }
}

