@import "../../../styles/variables";

.graph-container {
  background-color: white;
}

.attempt {
  background-image: url('https://cdn12.picryl.com/photo/2016/12/31/coffee-cafe-coffee-bean-05231f-1024.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;

  h1 {
    color: $color8;
    text-shadow: #EDEDED 3px 2px 0;
      }
}

.roast-card {
  background-color: rgba(255,255,255, .7) !important;
}